*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color:pink;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
span{
    font-size: 2.5rem;
    color: orangered
}